body
{
	background-color: #fefee2;
	font-family: "Roboto";
	color:black;
	margin-top: 200px; 
}

a
{
	color:black;
	text-decoration: none;
}


footer 
{
    display: flex;
    justify-content: center;
}