.liste_produits
{
	
}

.ligne_produits
{
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 30px;
}

.produit
{
	text-align: center;
}

.number
{
	width: 50px;
}

.produit img
{
	width: 150px;
}


.bouton_panier
{
	margin-bottom:45px;
	text-align: center;
}
